/* 
long time no code 
gate prep me busy
don't jude my code 😅
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Pahawh+Hmong&family=Pacifico&display=swap");

:root {
  --bg-main: #f2cfe0;
  --bg-sec: #edb4d0;
  --mob-bg-sec: #fbdeeb;
  --bg-3: #ff007b;
  --text-sec: #9b3922;
  --text-main: #5c1756;
  --mob-text-main: #230020;
  --text-normal: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

html,
body {
  background: var(--bg-sec);
  color: var(--text-main);
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--text-main); */
  background-color: var(--mob-text-main);
  /* background-color: var(--bg-sec); */
  padding: 1em 2em;
  /* border-bottom: 1px solid var(--text-main); */
  margin-bottom: 10px;
  color: var(--bg-main);
}

.nav .logo {
  font-weight: bold;
  font-size: 1.5em;
  /* color: var(--bg-3); */
}

.nav ul {
  display: flex;
  gap: 1em;
}

.nav li a {
  font-size: 1.2em;
  font-weight: 500;
  /* color: var(--text-main); */
  color: var(--bg-main);
  padding: 0.5em 1em;
}

.nav li a:hover {
  color: var(--bg-3);
  transition: 0.3s;
}

/* Hero Section */
.hero {
  z-index: 10;
  text-align: center;
  background: var(--bg-main);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero img {
  width: 40px;
}

.hero h1 {
  margin-top: 20px;
  font-size: 1.8em;
}

/* Downloads Section */
.downloads {
  /* padding: 3em 2em; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} /*
.download-text {
}
.download-link {
}*/
.downloads h1,
.downloads h2,
.downloads h3,
.downloads p {
  text-align: center;
  margin-bottom: 1em;
}

.downloads ul {
  /* margin-top: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.downloads li {
  font-weight: 500;
  font-size: 1.5em;
  background: var(--bg-main);
  padding: 15px;
  border-radius: 15px;
  min-width: 200px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.downloads li:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.downloads a {
  color: var(--text-main);
}
/* Message Section */
.end {
  padding: 3em 2em;
  text-align: center;
}
.end p {
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: 500;
}
.end ul {
  display: inline-block;
  text-align: left;
  margin-top: 1em;
}

.end li {
  font-size: 1.25em;
  list-style: disc;
  font-weight: 500;
  /* text-align: center; */
}
.end h1 {
  margin-bottom: 20px;
}

/* Smooth Scrolling Text */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--text-main);
  padding: 10px 0;
}

.marquee-text {
  display: inline-block;
  animation: scroll-text 3s linear infinite;
  color: #ccc;
}

@keyframes scroll-text {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.contri-cover {
  display: flex;
  justify-content: center;
}
.contribute {
  background-color: var(--bg-main);
  border-radius: 10px;
  padding: 2em;
  max-width: 720px;
  margin: auto 20px;
  margin-bottom: 100px;
}
.contribute h2 {
  margin-bottom: 1em;
}
.contribute ul {
  padding: 1em;
}
.contribute li {
  font-weight: 500;
  list-style-type: disc;
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    text-align: center;
    background-color: var(--mob-text-main);
    font-size: 0.85em;
  }
  .nav ul {
    display: none;
  }
  .hero {
    background-color: var(--mob-bg-sec);
    min-height: 50vh;
  }
  .hero h1 {
    font-size: 22px;
  }
  .circle-div {
    background-color: var(--mob-bg-sec);
  }

  .downloads ul {
    flex-direction: column;
    align-items: center;
  }
  .downloads {
    /* margin-top: 100px; */
    background-color: var(--bg-sec);
  }
  .download-text {
    margin-top: 10px;
  }
  .contribute {
    background-color: var(--mob-bg-sec);
  }
}

/* animations */
#greet {
  font-family: "Pacifico";
  display: inline-block;
  font-size: 1.5rem;
  /* font-weight: bold; */
  white-space: nowrap;
  /* border-right: 3px solid black; */
  /* Cursor effect */
  /* animation: blink 0.7s infinite; */
}
